In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import the required module for text 
# to speech conversion 
from gtts import gTTS 

# This module is imported so that we can 
# play the converted audio 
import os

In [3]:
df=pd.DataFrame({'name':['Shlok Agarwal'],'order_id':['5201'],'amount':['2000'],'delivery_status':['failed'],'called':'no'})
df

            name order_id amount delivery_status called
0  Shlok Agarwal     5201   2000          failed     no

In [4]:
df.loc[1]=['Vidisha','2301','300','failed','no']
df.loc[2]=['Anushree','5607','3760','accepted','no']
a=df.values
r,c=a.shape
print(r)
df

3

            name order_id amount delivery_status called
0  Shlok Agarwal     5201   2000          failed     no
1        Vidisha     2301    300          failed     no
2       Anushree     5607   3760        accepted     no

In [5]:
# Language in which you want to convert 
language = 'en'

for i in range(r):
    if((a[i][3]=='failed')or(a[i][3]=='accepted')):
        if((a[i][4]=='no')and (a[i][3]=='failed')):
            # The text that you want to convert to audio 
            mytext = "hello "+a[i][0]+" , we tried to deliver your order, numbered: "+a[i][1]+" , amount"+a[i][2]+",today but failed to do so"+"if you want your product to deliver again press 1 else 0"
            # Passing the text and language to the engine, 
            # here we have marked slow=False. Which tells 
            # the module that the converted audio should 
            myobj = gTTS(text=mytext, lang=language, slow=False) 
            # Saving the converted audio in a mp3 file named 
            # python
            myobj.save("python"+str(i)+".mp3")
            # Playing the converted file 
            os.system("python"+str(i)+".mp3")
            x=int(input("Press 1 if you want again and 0 if not:"))
            if(x==1):
                a[i][3]="retry"
                a[i][4]="yes"
            else:
                a[i][3]="rejected"
                a[i][4]="yes"
        elif(a[i][4]=='no'):
            # The text that you want to convert to audio 
            mytext = "hello "+a[i][0]+" , we have delivered your order, numbered: "+a[i][1]+"amount"+a[i][2]+"today, if you have not accepted your order press 1"
            # Passing the text and language to the engine, 
            # here we have marked slow=False. Which tells 
            # the module that the converted audio should 
            myobj = gTTS(text=mytext, lang=language, slow=False)
             # Saving the converted audio in a mp3 file named 
            # python
            myobj.save("python"+str(i)+".mp3")
            # Playing the converted file 
            os.system("python"+str(i)+".mp3")
            x=int(input("Press 1 if you have not taken delivery:"))
            if(x==1):
                a[i][3]="delivered but not accepted"
                a[i][4]="yes"
            else:
                a[i][4]="yes"

Press 1 if you want again and 0 if not:0
Press 1 if you want again and 0 if not:0
Press 1 if you have not taken delivery:1

In [6]:
df

            name order_id amount             delivery_status called
0  Shlok Agarwal     5201   2000                    rejected    yes
1        Vidisha     2301    300                    rejected    yes
2       Anushree     5607   3760  delivered but not accepted    yes